* {
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    box-sizing: border-box;
    background-color:rgb(85, 16, 150);
    justify-content: space-between;
    align-items: center;
    color: #dddddd;
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none; 
    padding: 0;
    margin: 0;
}

nav ul li {
    background-color: #c2c2ff;
    padding: 7px 15px;
    margin-left: 10px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-item {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    background: #d9d9f8;
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}


section h2 {
    border-bottom: 0.5px solid grey;
    position: sticky;
    top: 55px;
}

#profile {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#about-me {
    background-color: #e6d1ff;
    scroll-margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    padding: 50px 5%;
    gap: 40px;
}

#about-me > h2 {
    background-color: #e6d1ff;
    margin-top: 0;
    padding-top: 10px;
    z-index: 5;
}

#profile {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#information {
    flex: 1; 
    min-width: 300px; 
}


.about-text {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}


#information div {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#projects{
    background-color: #e2bfff;
    scroll-margin-top: 20px;
    text-align: left;
    padding: 30px 60px;
}

#projects > h2 {
    background-color: #e2bfff;
    margin-top: 0;
    padding-top: 10px;
    z-index: 5;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.project-box {
    text-decoration: none;
    color: rgb(206, 206, 206);
    background-color: rgb(128, 17, 255);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-box:hover {
    background: rgb(126, 51, 212);
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.project-box img {
    width: 100%; 
    height: 150px;
    object-fit: cover;
    border-radius: 8px; 
    margin: 10px 0; 
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 169, 255);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button-circle:hover {
    background: rgba(245, 205, 255, 0.2);
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.button-circle img {
    width: 35px;
    height: 35px;
}

footer{
    background-color: rgb(85, 16, 150);
    color:#dddd;
}
footer h2{
    position: absolute;
    padding-top: 15px;
    padding-left: 10px;
}

#social-media {
    display: flex;
    justify-content: right;
    align-items: right;
    padding-right: 15px;
    padding-top: 5px;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}

#social-media .button-circle {
    width: 45px; 
    height: 45px;
}

#social-media .button-circle img {
    width: 25px; 
    height: 25px;
}

footer>p{
    text-align: right;
    padding-right: 15px;
    padding-bottom: 5px;
}
